.mem td.cell {
    border: 1px solid rgb(119, 119, 119);

    font-family: Consolas;
    padding: 0.15rem 0.3rem;
}

.mem td.addr {
    font-family: Consolas;
    padding: 0.15rem 0.3rem;
}

.mem td.empty {
    width: 2rem;
}

#editor {
    height: 20rem;
    width: 30rem;
}

#edit_in, #edit_out {
    width: 20rem;
    height: 6rem;
}

.my-marker {
    background-color: #007bff50;
}